// import variables.scss
@import "../../../variables/variables";

.interests {
  background-color: $clr-green-light;

  &-content {
    max-width: 900px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

  }

  &-item {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: $clr-white;

    .interests-img {
      width: 100%;

    }
    img {
      border-radius: 4px;
      transition: 0.3s ease;
      height: 235px;
      width: 100%;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        height: 170px;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }


    .interests-title {
      font-size: 16px;
      margin-top: 10px;
    }
  }
}