@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0 !important;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.container {
  margin: 0 auto;
}

.button {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: #FFFFFF;
  color: #00856F !important;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  font-size: 14px;
  overflow: hidden;
}

.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00856F;
  opacity: 0.5;
  border-radius: inherit;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button:hover {
  border: 1px solid #00856F;
}

.button:hover:after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button svg {
  width: 18px;
  height: 18px;
}

.button svg path {
  fill: #00856F;
}

.header {
  height: 90px;
  z-index: 20;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.header-container .logo {
  width: 60px;
  position: relative;
  z-index: 5;
}

.header-container .hamburger-btn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: #DCE9E2;
}

.header-container .hamburger-btn.hamburger-active .hamburger-btn__line {
  visibility: hidden;
}

.header-container .hamburger-btn.hamburger-active .hamburger-btn__line::after, .header-container .hamburger-btn.hamburger-active .hamburger-btn__line::before {
  visibility: visible;
  background-color: #fff;
}

.header-container .hamburger-btn.hamburger-active .hamburger-btn__line::after {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header-container .hamburger-btn.hamburger-active .hamburger-btn__line::before {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.header-container .hamburger-btn__line {
  height: 2px;
  position: relative;
  background-color: #00856F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header-container .hamburger-btn__line::after, .header-container .hamburger-btn__line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-container .hamburger-btn__line::after {
  -webkit-transform: translateY(-0.5em) rotate(0);
          transform: translateY(-0.5em) rotate(0);
}

.header-container .hamburger-btn__line::before {
  -webkit-transform: translateY(0.5em) rotate(0);
          transform: translateY(0.5em) rotate(0);
}

@media screen and (min-width: 1024px) {
  .header-container .hamburger-btn {
    display: none;
  }
}

.header-container .navbar-menu .menu-item {
  padding: 4px;
  position: relative;
  border-radius: 24px;
}

.header-container .navbar-menu .menu-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
  width: 110%;
  height: 105%;
  background-color: #00856F;
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-container .navbar-menu .menu-item:hover {
  font-weight: bold;
}

.header-container .navbar-menu .menu-item:hover::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-container .navbar-menu .menu-link {
  color: #00856F;
  position: relative;
  padding: inherit;
  z-index: 20;
}

@media screen and (max-width: 1024px) {
  .header-container .navbar-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00856F;
    opacity: 0.9;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-size: 24px !important;
  }
  .header-container .navbar-menu a {
    color: #fff !important;
  }
  .header-container .navbar-menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header-container .button {
    display: none !important;
  }
}

.hero {
  height: 100vh;
}

.hero .swiper-wrapper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
}

.hero .swiper-pagination-bullet {
  background: yellow;
  width: 18px;
  height: 7px;
  border-radius: 10px;
  margin: 0 5px;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 80vh;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    height: 65vh;
  }
}

.footer {
  background-color: #00856F;
  color: #FFFFFF;
}

.footer .footer-container .logo {
  width: 65px;
}
/*# sourceMappingURL=style.css.map */