.hero {
    height: 100vh;
}

.hero .hero__img {
    object-fit: cover;
    object-position: center center;
}

.swiper {
}


.swiper .swiper-slide {
    position: relative;
}

.swiper-slide-active .container-fluid .hero__intro {
    visibility: visible;
}


.swiper-slide-active .container-fluid .hero__intro h3 {
    visibility: visible;
    transform: translateX(0);
}

.swiper-slide-active .container-fluid .hero__intro .description {
    visibility: visible;
    transform: translateX(0);
}

.hero .container .container-fluid {
    top: 50%;
    transform: translateY(-50%);
}

.swiper .hero__intro {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    width: max-content;
    max-width: 890px;
    visibility: hidden;
    transition: 0.5s ease;
    overflow: hidden;
}

.hero__intro h3 {
    font-size: 75px;
    line-height: 75px;
    font-weight: bold;
    color: var(--clr-white);
    transform: translateX(-80%);
    visibility: hidden;
    transition: 0.5s ease-out;
}

.hero .description {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    transform: translateX(-80%);
    visibility: hidden;
    transition: 0.7s ease;
}

.description .green {
    color: #00CF3A;
}

.description .red {
    color: #FF0000;
}

.description .yellow {
    color: #FFB800;
}

.swiper .swiper-pagination {
}

.swiper-pagination-bullet {
    width: 25px;
    border-radius: 4px;
    background-color: var(--clr-white);
    opacity: 1;
    transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 45px !important;
    background-color: var(--clr-primary);
}
