.hero {
  height: 100vh;

  .swiper-wrapper {


    .swiper-slide {

      img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }

  .swiper-pagination {

    &-bullet {
      background: yellow;
      width: 18px;
      height: 7px;
      border-radius: 10px;
      margin: 0 5px;
    }
  }


  @media screen and (max-width: 1024px) {
    height: 80vh;
  }

  @media screen and (max-width: 540px) {
    height: 65vh;
  }
}